<%- include("partials/header"); -%>
   
    
    <!-- introduction -->

    <div class="intro">
        <ul>
            <li>
                <h1>Easy Banking and Money transfers</h1>
                <p>Simple . secure . easy</p>
                <button><a href="/customers">Transfer Money</a></button>
            </li>
            <li>
                <img src="/images/Rectangle 1.png" alt="tree img">
            </li>
        </ul>
    </div>


    <!--ABout our customers-->

    <div class="box">
        <h1>KNOW ABOUT OUR CUSTOMERS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor</p>
        <button><a href="/customers">customers</a></button>
    </div>

    <!-- form section -->
    <div class="box2">
        <div class="text">
            <h1>BECOME A CUSTOMER</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor </p>
            <button class="transfer"><a href="/customers">Transfer Money</a></button>

        </div>
        <div class="form">
            <form action="">
                <label for="name">Name</label>
                <input type="text">
                <label for="name">Email</label>
                <input type="text">
                <label for="name">Phone</label>
                <input type="number">
                <button class="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- footer section -->
    <footer>
        <h1>Follow us</h1>
        <div class="social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </footer>
    <%- include("partials/footer"); -%>